.pretty_title {
    font-weight: bolder;
    color: chocolate;
}

.day_theme{
    background-color: aliceblue;
    color: rgb(10, 5, 75);
}

.night_theme{
    background-color: rgb(40, 48, 48);
    color: rgb(248, 112, 14);
}