.flex_container{
    display: flex;
}
.flex_container > div{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    font-size: xx-large;
}


@media screen and (max-width: 1024px){
    body{
        background-color: antiquewhite;
    }
    .flex_container{
        flex-direction: row;
    }
}


@media screen and (max-width: 600px){
    body{
        background-color: chartreuse;
    }
    .flex_container{
        flex-direction: column;
    }
}







.transition_width_example{
    width: 200px;
    height: 200px;
    background-color: blueviolet;

    transition-property: width;
    transition-duration: 3s;
    transition-timing-function: ease-in;
}
.transition_width_example:hover{
    width: 600px;
}

.transition_color_example{
    width: 200px;
    height: 200px;
    background-color: brown;

    transition-property: background-color;
    transition-duration: 2s;
}
.transition_color_example:hover{
    background-color: cadetblue;
}