body{
    background-color: antiquewhite;
}

.grid_container{
    display: grid;
}
.grid_container > div{
    font-size: xx-large;
    text-align: center;
    border: 1px solid black;
}

.two_columns{
    grid-template-columns: auto auto;
}
.uneven_grid{
    display: inline-grid;
    grid-template-columns: 50px 250px 500px;
}
.uneven_grid2{
    grid-template-columns: 10% 30% 60%;
    grid-template-rows: 200px 100px 50px;
}

.grid_with_gaps{
    background-color: aquamarine;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

    column-gap: 20px;
    row-gap: 30px;
}
.grid_with_gaps > div{
    background-color: brown;
}

.grid_children{
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
#col_child1{
    grid-column-start: 2;
    grid-column-end: 4;
}
#col_child2{
    grid-column-start: span 2;
}
#col_child3{
    grid-column: 2 / 4;
}

.enlarge{
    height: 300px;
}
#row_child1{
    grid-row-start: 1;
    grid-row-end: 3;
}
#row_child2{
    grid-row-start: 2;
    grid-row-end: 4;
}
#row_child3{
    grid-row-start: 1;
    grid-row-end: 3;
}


.holy_grail{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 20vh 70vh 10vh;
    height: 800px;

    text-align: center;
    font-size: xx-large;
}
.header{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: blue;
}
.left{
    background-color: cadetblue;
}
.main{
    background-color: chocolate;
}
.right{
    background-color: cadetblue;
}
.footer{
    grid-column-start: span 3;
    background-color: blue;
}


.holy_grail_with_content{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto 70vh 10vh;
    height: 800px;

    text-align: center;
    font-size: xx-large;
}
.toolbar{
    display: flex;
    justify-content: space-evenly;
}