* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body > p {
  background-color: aquamarine;
}

#big_header_id {
  color: brown;
}
#medium_header_id {
  color: chartreuse;
}
h3.fonty {
  color: cornflowerblue;
}
.fonty {
  font-family: "Times New Roman", Times, serif;
}

.parags p:first-child {
  color: red;
  font-weight: bolder;
}
.parags p:last-child {
  color: blue;
  font-style: italic;
}

input[type="text"] {
  color: chocolate;
  background-color: aquamarine;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
input[name="email"] {
}

ul li:first-child {
  font-weight: bold;
}
ul li:last-child {
  font-style: italic;
}

ol li:first-child {
  color: crimson;
}
ol li:last-child {
  color: cornflowerblue;
}
ol li:nth-child(even) {
  font-weight: bold;
}

img {
  width: 300px;
}
p > .opac_img {
  opacity: 0.5;
}
.imgs_container {
    width: 50%;
}