body {
    background-color: burlywood;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

img {
    opacity: 0.5;
}